.tictac-game-board{
    /* border: 1px solid gray;
    width: 200px;
    height: 200px; */
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
    
}
.square{
    border: 1px solid gray;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(24, 205, 63);
}